<nav class="navbar">
  <div class="logo">
    <a routerLink="/products" class="logo-link">
      <i class="bi bi-bag-heart-fill logo-icon"></i>
      <span class="logo-text">angStore</span>
    </a>
  </div>

  <div class="search-box-wrapper">
    <div class="search-container">
      <i class="bi bi-search search-icon"></i>
      <input type="text" (input)="onSearch($event.target.value)" placeholder="Search for products, categories..."
        class="search-input" />
    </div>
  </div>

  <div class="nav-links">
    <a [routerLink]="['']" class="nav-link-item" routerLinkActive="active">
      <i class="bi bi-shop"></i>
      <span>Shop</span>
    </a>

    <a [routerLink]="['/cart']" class="nav-link-item cart-btn">
      <div class="cart-icon-wrapper">
        <i class="bi bi-cart3"></i>
        <span class="cart-badge">{{cartCount}}</span>
      </div>
      <span>Cart</span>
    </a>


    <a *ngIf="!authService.isLoggedIn()" [routerLink]="['/login']" class="nav-link-item" routerLinkActive="active">
      <i class="bi bi-person-circle"></i>
      <span>Login</span>
    </a>
    <button *ngIf="authService.isLoggedIn()" (click)="logout()" class="nav-link-item logout-btn">
      <i class="bi bi-box-arrow-right"></i>
      <span>Logout</span>
    </button>


  </div>
</nav>