<div class="container">
  <button (click)="goBack()" class="back-btn">← Back</button>

  <div *ngIf="loading()">Loading...</div>

  <div *ngIf="error()" class="error-box">
    <p>{{ error() }}</p>
  </div>

  <div *ngIf="product() && !loading()" class="detail">
    <img [src]="product().thumbnail" alt="img">
    <h1>{{ product().title }}</h1>
    <p class="price">₹{{ (product().price * 80) | number: '1.0-2' }}</p>
    <p>{{ product().description }}</p>

    <div class="actions">
      <button (click)="addToCart()" class="add-to-cart-btn">
        🛒 Add to Cart
      </button>
      <button *appHasRole="['admin']" class="edit-btn">Edit Product</button>
    </div>
  </div>
</div>